<!--
header.ejs - ヘッダーコンポーネント
サイト全体で共通して使用されるヘッダー部分を管理します。
ナビゲーションメニューとサイトタイトルを含み、全ページで同じヘッダーを表示します。
-->
<header class="p-header l-header">
  <div class="p-header__inner">
    <h1 class="p-header__title">サイトタイトル</h1>
    <nav class="p-header__nav">
      <ul class="p-header__nav-list">
        <li class="p-header__nav-item">
          <a href="/" class="p-header__nav-link">ホーム</a>
        </li>
        <li class="p-header__nav-item">
          <a href="/about" class="p-header__nav-link">会社概要</a>
        </li>
      </ul>
    </nav>
  </div>
</header>