<!DOCTYPE html>
<html lang="ja">

<%- include('./components/head') %>
<body>
    <%- include('./components/header') %>
    
    <%- include('./components/main-content') %>
    
    <%- include('./components/footer') %>
    
    <script type="module" src="./main.js"></script>
</body>
</html>
